<% @itinerary.storage_dates.each do |date| %>
  <%= date.date %>
  <% date.destinations.each do |destination| %>
    <p><%= destination.name %></p>
    <p><%= destination.address %></p>
  <% end %>
  <div class="itinerary_form"
    data-controller="address-autocomplete"
    data-address-autocomplete-api-key-value="<%= ENV["MAPBOX_API_KEY"] %>"
  >
    <%= simple_form_for([@itinerary, @destination],
      data: {
        address_autocomplete_target: "form"
      }) do |f| %>
      <%= f.input :address,
        input_html: {
          data: {
            address_autocomplete_target: "address"
          },
          class: "d-none"
        }
      %>

      <%# Set the storage_date attribute to the current date object %>
      <%= f.hidden_field :storage_date_id, value: date.id %>

    <% end %>
  </div>
<% end %>



<div style="width: 100%; height: 90vh;"
  data-controller="map"
  data-map-coordinates-value="<%= @coordinates.to_json %>"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
